body {background-color: ffffff;}

@font-face {
    font-family: 'coffee_morning_sansregular';
    src: url('coffeemorning-reg-webfont.woff2') format('woff2'),
         url('coffeemorning-reg-webfont.woff') format('woff');
    font-weight: normal;
	font-size: 400px;
    font-style: normal;
	color: 8B4513;

}

#hello {
    font-family: coffee_morning_sansregular
}

#instructions {
    font-family: coffee_morning_sansregular	
}

#p1tokes {
    font-family: coffee_morning_sansregular	
}
#p2tokes {
    font-family: coffee_morning_sansregular	
}

.title { 
	font-family: coffee_morning_sansregular
}

.button { 
	background-color: black;
	font-family: coffee_morning_sansregular;  
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

}

.button:hover {
    background-color: red;
}
